
doctype html
head
    title Pug
    link(rel='stylesheet' href='../css/stylesheet.css')
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 Pug - node template engine
    #container.col
        p File Testing
        p Pugs is a terse and simple templating language.